body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h2 {
    color: #333;
}

#app {
    margin-top: 20px;
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

li {
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between; /* Align task and delete button */
}

.delete-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px; /* Add margin to the left of the delete button */
}

.delete-btn:hover {
    background-color: #e74c3c;
}
